body {
	background-color: #D5DEE7;
	font-family: Arial; 
	font-size: 1.0em;
}

#container {
	margin: 5% auto;
	border: 5px solid white;
	width: 600px;
	background-color: #8399AF;
	padding: 10px;
}
#lobby { padding: 15px; }


#left_box { float: left; }
#right_box { float: right; }


#loading { display: none; text-align: center; }

.header { font-size: 5em; color: #ffffff; text-align: center; }
.subheader { font-size: 9pt; text-align: center; color: #D5DEE7; }

.clear { clear: both; }

/* CATEGORY/YESNO BUTTON STYLES */
#categories { list-style: none; text-align: center;}
#categories li { float: left; }
#categories li.category { margin-left: 20px; padding: 30px; margin-top: 10px; width: 150px; cursor: pointer; color: #ffffff; border: 2px solid #d5dee7; font-size: 2em; text-align: center;}
#categories li.category:hover { background-color: #d5dee7; border: 2px solid white; color: #8e99af; }


.response { display: none; margin-left: 20px; padding: 30px; margin-top: 10px; width: 150px; cursor: pointer; color: #ffffff; border: 2px solid #d5dee7; font-size: 2em; text-align: center;}
.response:hover { background-color: #d5dee7; border: 2px solid white; color: #8e99af; }
.green { background-color: #6bb350; color: #fff; }
div.green:hover { background-color: #abea71; color: #6bb350; border-color:#6bb350; }

.red { background-color: #d6313e; color: #fff;}
div.red:hover { background-color: #ff6168; color: #d6313e; border-color: #d6313e; }

.chosencat { font-size: 2em; text-align: center; color: #fff; }
.chosencat strong { color: #d5dee7; }

/* QUESTIONS STYLES */
.question_div { margin-top: 20px; font-size: 3em; text-align: center; color: #fff;  }
.question_div strong { color: #d5dee7; }
#questions { width: 100%; overflow:auto; max-height: 250px; margin-top: 10px; }
#questions ul { list-style:none;  }
#questions ul li { margin-left: -40px; padding: 5px; border-bottom: 1px dotted white;}
#questions li.odd { background-color: #d5dee7; color: #91a2c7;}
#questions li.even { color: white;}

.question .q_index,
.question .q_text,
.question .q_usr_resp { float: left; font-size: .8em; padding: 2px;}

.question .q_text,
.question .q_usr_resp {}

.question .q_index { width: 20px;}

.question .q_text { width: 76%; }

.question .q_usr_resp { }

.g { background-color: #6bb350; color: #fff; padding: 2px; }
.r	{ color: #d6313e; }

/* ANSWER STYLES/ADD TO DB/SUGGESTIONS/WHATEVER */
#answer {
	width: 90%;
	padding: 15px;
	font-size: 3em; text-align: center; color: #fff;
	border: 4px solid orange;
	display: none;
}

#answer strong {
	color: #d5dee7;
}

#answer_submission {
	display: none;
	background-color: #d5dee7;
	border: 3px solid white;
	color: #8e99af;
}

/* ERROR STYLE */
#error { display: none; background-color: #d6313e; color: #fff; border: 2px solid #fff; font-size: 1em;  text-align: center;}